*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: slategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
}